body {
  margin: 15% 15% 0;
  background: #efefef;
}

/**
 * --------------------------------
 * .button-toggle
 * ----------------------------- */
.button-toggle {
  cursor: pointer;
  border: none;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 0.625rem 1.85rem;
  background: #fe4940;
  color: #fff;
  font-size: 1rem;
}
/* 버튼 상태 디자인 */
.button-toggle:hover {
  background: #751a1a;
}
.button-toggle:active {
  position: relative;
  top: 2px;
  outline: none;
}
.button-toggle:focus {
  background: #751a1a;
  color: #ffd219;
}

/**
 * --------------------------------
 * .toggled-container
 * ----------------------------- */
.toggled-container {
  opacity: 1;
  border: 1px solid #dadada;
  padding: 2em 2.4em;
  border-radius: 3px;
  background: #ffffff;
  /*transition: all 0.45s ease-out;*/
  transition: opacity 0.45s ease-out, transform 0.2s ease-out 0.2s;
  transform: scale(1) translateY(0);
}

/* Multi Classes */
.toggled-container.screen-off {
  /*display: none;*/
  opacity: 0;
  transform: scale(10) translateY(-200px);
}

.toggled-container * {
  margin-top: 0;
  font-weight: 100;
}

.toggled-container .container-headline {
  color: #e44454;
  font-size: 2.2rem;
  margin-bottom: 0.1em;
}
.toggled-container p {
  color: #86888a;
  margin-bottom: 0;
}

.toggled-container a {
  text-decoration: none;
  font-weight: 200;
  color: #de8532;
}